<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-rfidreader" version="0.2.3">
    <name>RfidReader-Plugin</name>
    <description>Cordova RfidReader Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,rfidreader,uhf</keywords>
	<!-- changing the js-module name doesn't have any affections -->
    <js-module src="www/rfidreader.js" name="ExecuteRfidStatements">
	<!--
		target ist the definition how you can access your plugin from outside,
		e.g. cordova.plugins.echo.echo("my first string", success, failure);
	-->
        <clobbers target="cordova.plugins.rfidreader" />
    </js-module>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
<!-- has to be the same name as in your *.js-file: cordova.exec(successCallback, errorCallback, "EinEcho", "echo", [name]) -->
			<feature name="RfidReader">
				<!-- your package in the *.java-file -->
				<param name="android-package" value="org.apache.cordova.plugin.BT77RfidReader"/>
			</feature>
		</config-file>
		<source-file src="src/android/BT77RfidReader.java" target-dir="src/org/apache/cordova/plugin/" />
		<framework src="src/android/app-release.gradle" custom="true" type="gradleReference" />
		<resource-file src="aar/app-release.aar" target="aar/app-release.aar" />
	</platform>
</plugin>
